*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}
 
header{
    width: 100%;
    background-color: white;
    position: relative;
}
 
#logo{
    padding-top: 30px;
    padding-left: 30px;
 
}
 
#top_menu{
    position: absolute;
    right: 10px;
    top: 20px;
    color: black;
}
#top_menu a{color: black;font-size: 14px;}

ul {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 10px;
    position: relative;
  }
  
  li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #000;
    font-weight: bold;
    text-align: center;
  }
  
  li a:hover {
    background: #333;
    color: #fff;
  }
  
  li a.home {
    background : #333;
    color: #fff;
  }
 
footer{padding: 0px 10px;}
footer img{width: 100%;}